.main-button {
  background-color: #32C48D;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-body);
}

.main-button:hover {
  background-color: #28a97a;
}
